body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #292d32;
  background: #FAFBFF;
}
.container {
  max-width: 1350px;
  padding: 0 10px;
  margin: 0 auto;
}

.none{
  display: none;
}
.show{
  display: block;
}